/* emailStatus.css */
.email-status {
    position: fixed;
    bottom: 5%;
    left: 5%;
    padding: 12px;
    border-radius: 20px;
    color: #fff;
    font-weight: bold;
    z-index: 10;
}

.email-status.success {
    background-color: var(--warm-neon-green);
}

.email-status.error {
    background-color: var(--warm-neon-red);
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.email-status.fade-out {
    animation: fadeOut 5s forwards; /* Animation for hiding */
}