.ITconsult-price-quotation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    margin: 18px;
}

.ITconsult-price-quotation-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.calc-btn{
    cursor: pointer;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid var(--border);
    background-color: black;
    color: white;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.calc-btn:hover{
    background-color: white;
    color: black;
}

.ITconsult-price-quotation-question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.ITconsult-price-quotation-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.ITconsult-price-quotation-summary ul {
    list-style: none;
    padding: 0;
}

.ITconsult-price-quotation-summary li {
    margin: 8px 0;
}

.quotation-summary-list{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.options-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.options-container > div {
    flex: 1; /* Each item will take equal space */
    min-width: 100px; /* Optional, set a minimum width */
    height: auto;    /* Set the height if needed */
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
}

.select-btn {
    margin-top: 10px;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 20px;
    border: 1px solid var(--border);
    background-color: black;
    color: white;
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.select-btn:hover {
    background-color: white;
    color: black;
}

.quotation-summary-arrangement{
    display: flex;
    flex-direction: row;
}