.ITconsult-why-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 18px;
    gap: 32px;
}

.ITconsult-why-us-arrangement{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.ITconsult-why-us-content{
    display: flex;
    flex-direction: column;
    padding: 12px;
    background-color: var(--background-color);
    transition: transform 0.3s ease-in, background-color 0.3s ease-in;
}

.ITconsult-why-us-content h5{
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin: 0;
}

.ITconsult-why-us-content p{
    color: var(--second-color);
}

@media screen and (max-width: 768px) {
    .ITconsult-why-us-arrangement{
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
    }

    .ITconsult-why-us-content:hover{
        transform: none;
    }

    .ITconsult-why-us-content{
        padding: 12px;
    }

    .ITconsult-why-us h1{
        margin: 8px;
    }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
    .ITconsult-why-us-arrangement{
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    .ITconsult-why-us-arrangement div{
        margin: 8px;
    }

    .ITconsult-why-us-content{
        padding: 8px;
    }
}