.ITconsult-why-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 18px;
    gap: 24px;
}

.ITconsult-why-us-arrangement{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.ITconsult-why-us-content h1{
    font-size: 8vmin !important;
}

.ITconsult-why-us-content h2{
    margin: 0;
    margin-top: 8px;
}

@media screen and (max-width: 768px) {
    .ITconsult-why-us-arrangement{
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
    }


    .ITconsult-why-us h1{
        font-size: 6.5vmin;
        margin: 8px;
    }
}