.ITconsult-reason-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    gap: 24px;
}

.ITconsult-reason-header h1{
    font-weight: 800;
    text-align: center;
}

.ITconsult-reason-header p{
    color: var(--second-color);
    text-align: center;
}

.ITconsult-reason-header h2{
    font-weight: 800;
    text-align: center;
}

.ITconsult-reason-support{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "item1 item2"
    "item3 item3"
    "item4 item4"
}

.ITconsult-reason-support-arrangement:nth-child(1) {
    grid-area: item1; /* First item in the first column */
}

.ITconsult-reason-support-arrangement:nth-child(2) {
    grid-area: item2; /* Second item in the second column */
}

.ITconsult-reason-support-arrangement:nth-child(3) {
    grid-area: item3; /* First item in the first column */
}

.ITconsult-reason-support-arrangement:nth-child(4) {
    grid-area: item4; /* Second item in the second column */
}


.ITconsult-reason-support-arrangement{
    border: 1px solid var(--border);
    padding: 24px;
    text-align: left;
    background-color: var(--content-bg);
    transition: transform 0.3s ease-in, background-color 0.3s ease-in;
}

.ITconsult-reason-support-arrangement h2{
    margin: 0;
}

.ITconsult-reason-support-arrangement p{
    color: var(--color);
}

@media screen and (max-width: 768px) {
    .ITconsult-reason-content {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .ITconsult-reason-support-arrangement{
        padding: 12px;
    }

    .ITconsult-reason-support-arrangement h1{
        height: auto;
    }

    .ITconsult-reason-support{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
        grid-template-rows: auto;
        grid-template-areas:
        "item1"
        "item2"
        "item3"
        "item4"
    }

    .ITconsult-reason-support-arrangement h1{
        height: auto;
    }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
    .ITconsult-reason-content {
        flex-direction: column;
        gap: 8px;
    }

    .ITconsult-reason-support-arrangement{
        padding: 16px;
    }

    .ITconsult-reason-support-arrangement h1{
        height: 35%;
    }

    .ITconsult-reason-support{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }
}