.ITconsult-reason-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    gap: 24px;
}


.ITconsult-reason-header {
    opacity: 0; /* Start hidden */
    transform: translateY(20%); /* Ensure element starts in its initial state */
    transition: opacity 1s ease, transform 1s ease; /* For smooth reset when leaving view */
}  

.ITconsult-reason-header.animate{
    opacity: 1;
    transform: translate(0%);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

.ITconsult-reason-header.paused{
    animation-play-state: paused;
}

.ITconsult-reason-header h1{
    font-weight: 600;
    text-align: center;
}

.ITconsult-reason-header h3{
    font-weight: lighter;
    text-align: center;
    color: var(--second-color);
}

.ITconsult-reason-support-arrangement h4{
    height: 10%;
}


.ITconsult-reason-header p{
    color: var(--second-color);
    text-align: center;
}

.ITconsult-reason-support{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-template-areas:
    "item1 item2"
    "item3 item3"
    "item4 item4"
}

.ITconsult-reason-support-arrangement:nth-child(1) {
    grid-area: item1; /* First item in the first column */
}

.ITconsult-reason-support-arrangement:nth-child(2) {
    grid-area: item2; /* Second item in the second column */
}

.ITconsult-reason-support-arrangement:nth-child(3) {
    grid-area: item3; /* First item in the first column */
}

.ITconsult-reason-support-arrangement:nth-child(4) {
    grid-area: item4; /* Second item in the second column */
}


.ITconsult-reason-support-arrangement{
    padding: 24px;
    text-align: left;
    background-color: var(--background-color);
    transition: transform 0.3s ease-in, background-color 0.3s ease-in;
}

.ITconsult-reason-support-arrangement p{
    color: var(--second-color);
}

.seo-icon{
    transition: transform 0.3s ease; /* Smooth transition for movement */
    cursor: pointer;
}

.seo-icon:hover {
    transform: translateY(-5px); /* Move up by 10px on hover */
}

@keyframes strokeDashOffsetPartial {
    from {
      stroke-dashoffset: 314;
    }
    to {
      stroke-dashoffset: 50;
    }
  }

@keyframes strokeDashOffset {
    from {
      stroke-dashoffset: 314;
    }
    to {
      stroke-dashoffset: 0;
    }
  }
  
  @keyframes circleRadius {
    0% {
      r: 50;
    }
    50% {
      r: 52;
    }
    100% {
      r: 50;
    }
  }

  @keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.circle-animation-partial{
    animation: strokeDashOffsetPartial 3.5s forwards, circleRadius 3.5s forwards, fadeIn 1s forwards;
}
  
  .circle-animation,
  .text-animation {
    animation: strokeDashOffset 3.5s forwards, circleRadius 3.5s forwards, fadeIn 1s forwards;
  }

.circle-hidden,
.text-hidden {
    opacity: 0;
}

  
@media screen and (max-width: 768px) {
    .ITconsult-reason-content {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .ITconsult-reason-support-arrangement{
        padding: 12px;
    }

    .ITconsult-reason-support-arrangement h1{
        height: auto;
    }

    .ITconsult-reason-support{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 12px;
        gap: 32px;
        grid-template-rows: auto;
        grid-template-areas:
        "item1"
        "item2"
        "item3"
        "item4"
    }

    .ITconsult-reason-support-arrangement h1{
        height: auto;
    }
}

@media screen and (max-width: 1200px) and (min-width: 768px) {
    .ITconsult-reason-content {
        flex-direction: column;
        gap: 8px;
    }

    .ITconsult-reason-support{
        gap: 28px;
    }

    .ITconsult-reason-support-arrangement{
        padding: 16px;
    }

    .ITconsult-reason-support-arrangement h1{
        height: 35%;
    }

    .ITconsult-reason-support{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 20px;
    }
}