.ITconsult-main{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    padding: 32px;
    padding-left: 10%;
    padding-right: 10%;
    letter-spacing: 0.15em;
    gap: 28px;
}

@media screen and (max-width: 768px) {
    .ITconsult-main{
        padding-left: 4%;
        padding-right: 4%;
        padding: 12px;
        gap: 20px;
    }
}