/* Base styles for the main container */
.logo-main {
    width: auto;
    height: auto; 
    position: relative; /* Needed for positioning child elements absolutely */
    overflow: hidden; /* Prevents content from overflowing */
    transition: transform 0.5s ease; /* Smooth transition for transform */
    cursor: pointer;
}

.logo-main svg{
    width: 300px;
    height: 100px;
}

/* Initial translation positions for the elements */
.logo-left, .logo-right {
    transition: transform 0.5s ease; /* Smooth transition for transform */
    transform: translateX(0);
}

/* Hover effect for the container (desktop only) */
.logo-main:hover .logo-left {
    transform: translateX(-75%) scaleY(-1) translateY(-100%); /* Move to original position */
}

.logo-main:hover .logo-right {
    transform: translateX(75%) scaleY(-1) translateY(-100%); /* Move to original position */
}

/* Keyframe animation for fading out */
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

/* Keyframe animation for fading in */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Define the hidden state for logo-content */
.logo-hidden .logo-content {
    animation: fadeOut 1s forwards; /* Fade out over 1 second */
}

/* Define the visible state for CodifyWeb */
.logo-hidden .logo-text {
    animation: fadeIn 1s forwards;
    opacity: 1;
}

/* Initially, CodifyWeb is hidden */
.logo-text {
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s ease;
    font-size: 48px;
}

/* Phone and tablet view: Remove hover effect */
@media only screen and (max-width: 1200px) {
    .logo-main:hover .logo-left, 
    .logo-main:hover .logo-right {
        transform: translateX(0) scaleY(1) translateY(0); /* Prevent movement on hover */
    }

    .logo-main:hover {
        transform: none; /* Prevent container movement */
    }

    .logo-hidden .logo-content {
        animation: none; /* Fade out over 1 second */
    }
    
    /* Define the visible state for CodifyWeb */
    .logo-hidden .logo-text {
        animation: none;
        opacity: 1;
    }

    .logo-text {
        opacity: 1;
        position: relative;
        font-size: 40px; /* Smaller font size for mobile/tablet */
        margin-top: 10px; /* Add spacing between the icon and text */
        transform: translateY(40%);
    }
}

/* Phone-specific adjustments */
@media only screen and (max-width: 768px) {
    .logo-main svg {
        transform: translateY(10%);
        width: 80px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .logo-main svg {
        width: 120px;
    }
}

@media only screen and (max-height: 450px){
    .logo-main svg {
        transform: translateY(10%);
        height: 60px;
    }
}