:root {
    background-color: black;
    color: white;
    --border: #555;
    --neon-red: #FF073A;
    --neon-blue: #00FFFF;
    --neon-green: #39FF14;
    --neon-pink: #FF6EC7;
    --neon-orange: #FF5F00;
    --neon-yellow: #E3FF00;
    --neon-purple: #BF00FF;
    --warm-neon-red: #FF4C6D;
    --warm-neon-blue: #00B2FF;
    --warm-neon-green: #66FF66;
    --warm-neon-pink: #FF8CC1;
    --warm-neon-orange: #FF8C42;
    --warm-neon-yellow: #F7E26B;
    --warm-neon-purple: #D8A6FF;
}

h1{
    font-size: 4vmin;
    font-weight: 600;
}

h2{
    font-size: 6vmin;
    font-weight: 800;
}

h3{
    font-size: 3vmin;
    font-weight: 600;
}

h4{
    font-size: 2.5vmin;
}

p{
    font-size: 2.25vmin;
}

li{
    font-size: 4vmin;
}

@media screen and (max-width: 768px) {
    :root {
        background-color: black;
        color: white;
        line-height: 1.4;
    }

    h1{
        font-size: 8vmin;
        font-weight: 600;
    }
    
    h2{
        font-size: 12vmin;
        font-weight: 800;
    }
    
    h3{
        font-size: 6vmin;
        font-weight: 600;
    }

    h4{
        font-size: 5vmin;
    }
    
    p{
        font-family: Georgia, serif;
        font-size: 4.5vmin;
        letter-spacing: 3.5px;
    }
    
    li{
        font-size: 4vmin;
    }
}