@import url('https://fonts.cdnfonts.com/css/do-futuristic');

:root {
    font-family: 'DO Futuristic', sans-serif;
    background-color: black;
    color: white;
}

:root h1{
    font-size: clamp(12px, 2vw + 1rem, 28px);
    font-weight: 600;
}

.root h2{
    font-size: clamp(16px, 1.8vw + 1rem, 44px);
    font-weight: 800;
}

.root h3{
    font-size: clamp(8px, 1.8vw + 1rem, 20px);
    font-weight: 600;
}

.root p{
    font-size: clamp(8px, 1.5vw + 0.5rem, 16px);
}

.root span{
    font-family: 'DO Futuristic', sans-serif;
}