.Banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    background-color: var(--background-color);
    color: var(--color);
    position: relative;
}
.Banner-Background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Background layer */
    overflow: hidden; /* Ensure background doesn't overflow */
}

.hidden-on-mobile {
    display: block; /* Default display for larger screens */
}

.Banner-Design{
    display: flex;
    position: relative;
    z-index: 2; /* Content layer */
}

.Banner-Header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Banner-Header h1{
    text-align: center;
    font-size: 12vmin !important;
    font-weight: 400;
    margin: 0;
}

.Banner-Header h2{
    color: var(--warm-red);
    font-size: 10vmin !important;
    font-weight: 200;
    margin: 0;
}

.Banner-Header p{
    font-size: 1.7vmin;
    margin: 0;
}

.Banner-Header-arrangement{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.Banner-description{
    position: relative;
    z-index: 2; /* Content layer */
    text-align: center;
    padding: 32px;
}

.Banner-description h2{
    font-size: 2.75vmin !important;
    color: var(--second-color);
    font-weight: lighter;
    margin: 0;
}

.animate-text {
    stroke: var(--color);
    stroke-width: 1px;
    stroke-linejoin: round;
    opacity: 0;
    animation: fadeInOut 3s ease-in-out infinite;
}

/* Animation keyframes */
@keyframes fadeInOut {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (max-width: 768px) {
    .Banner-Header h1{
        font-size: 12vmin !important;
        margin: 0;
    }

    .Banner-Header p{
        font-size: 3vmin;
    }

    .Banner-Header h2{
        font-size: 8vmin !important;
    }

    .Banner-description h2{
        font-size: 3.5vmin !important;
        margin: 0;
    }

    .Banner-Header-arrangement{
        gap: 4px;
    }

    .hidden-on-mobile {
        display: none; /* Hide on mobile devices */
    }
}

@media screen and (min-width:768px) and (max-width:1200px) {
    .hidden-on-mobile {
        display: none; /* Hide on mobile devices */
    }
}